body{
    margin: 0px 0px 0px 0px;
    background-image: url("images/sll.png");
    background-color: aliceblue;
    background-size:100%;
}

#example-div{
    background: url("images/gif1.gif")  no-repeat;
    background-size:100%;
    width: 600px;
    height: 600px;
    margin-top: 20%;
    margin-right: 27%;

    box-shadow: 2px 2px 20px 8px #0ff;

}
.prvidiv{
    display: flex;
    margin-left: 50%;
}
.parent-div{
    display: flex;
    justify-content: center;

}
.connect{
    display: flex;
    justify-content: center;
    margin-top: 85%;
    border: 2px solid black;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 25%;
    margin-left: 35%;
    text-decoration: none;
    font-size: 12pt;
    box-shadow: 2px 2px 20px 8px #0ff;

}
.connect:hover{
    color: red;
}
.najjaci{
    flex-direction: row;
    position: absolute;
    padding-left: 44%;
    padding-top: 2%;
    margin-bottom:15%;
}
.discord{
    width: 100px;
    height: 100px;
}
.twitter{
    width: 90px;
    height: 90px;
}